

.image-container {
  position: relative;
  border-radius: var(--corner-rad);
  overflow: hidden;

}

.pageImg {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* feels nicer than “fill” for most photos */
}
