:root {
  --width: 10px;
  --height: 10px;
  --corner-rad: 6px;
}

.img-container {
    width: var(--width);
    height: var(--height);
    position: "relative";
    border-radius: var(--corner-rad);
    overflow: "hidden";
}
.icon {
    position: absolute;
    top: 4;
    right: 4;
    z-index: 1;
}